@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --element: hsl(0, 0%, 98%);
  --text-input: hsl(235, 19%, 35%);
  --text-complete: hsl(236, 9%, 61%);
  --circle: hsl(233, 11%, 84%);
  --text-tasks: hsl(235, 19%, 35%);
  --bg: hsl(0, 0%, 98%);
  --line: hsl(233, 11%, 84%);
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

body.dark {
  --element: hsl(235, 24%, 19%);
  --text-input: hsl(234, 39%, 85%);
  --text-complete: hsl(233, 14%, 35%);
  --circle: hsl(233, 14%, 35%);
  --text-tasks: hsl(234, 39%, 85%);
  --bg: hsl(235, 21%, 11%);
  --line: hsl(233, 14%, 35%);
}
body.dark .app {
  background-image: url("../images/bg-mobile-dark.jpg");
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--bg);
  transition: all 0.25s ease;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: inherit;
  margin: 0;
  padding: 0;
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-inline: clamp(1rem, 5vw, 3rem);
  max-width: 800px;
  margin-inline: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  color: hsl(0deg, 0%, 98%);
  letter-spacing: 5px;
}

.tasks {
  background-color: var(--element);
  display: grid;
  border-radius: 0.25em;
  box-shadow: var(--box-shadow);
  margin-bottom: 2em;
  transition: all 0.25s ease;
}
.tasks__each {
  cursor: pointer;
  display: flex;
  gap: 0.75em;
  padding: 1.5em 1em;
  border-bottom: 1px solid var(--line);
  transition: all 0.25s ease;
}
.tasks__each .remove {
  margin-left: auto;
}
.tasks__each p {
  color: var(--text-tasks);
  transition: all 0.25s ease;
}
.tasks__each p.complete {
  color: var(--text-complete);
  text-decoration: line-through;
}

.circle {
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  height: 1.5em;
  border: 1px solid var(--circle);
  border-radius: 1em;
  background: transparent;
  transition: all 0.25s ease;
}
.circle:is(:hover, .complete) {
  border: none;
  background: linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
}

.app {
  position: relative;
  background-image: url("../images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  padding-top: 2em;
  font-size: 0.875rem;
  transition: all 0.25s ease;
}

@media (min-width: 50rem) {
  body.dark > .app {
    background-image: url("../images/bg-desktop-dark.jpg");
  }
  .app {
    background-image: url("../images/bg-desktop-light.jpg");
  }
}
.input {
  margin-block: 2em;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: var(--element);
  border-radius: 0.25em;
  transition: all 0.25s ease;
}
.input input {
  color: var(--text-input);
  border: none;
  width: 100%;
  background-color: var(--element);
  transition: all 0.25s ease;
}
.input input::-moz-placeholder {
  color: var(--text-input);
}
.input input:-ms-input-placeholder {
  color: var(--text-input);
}
.input input::placeholder {
  color: var(--text-input);
}
.input input:focus-visible {
  outline: none;
}/*# sourceMappingURL=style.css.map */