@use "../Utils/variables" as var;

.circle {
  aspect-ratio: 1;
  height: 1.5em;
  border: 1px solid var(--circle);
  border-radius: 1em;
}

.todo {
  background-image: var.$bg-element;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 2em;

  &__input {
    margin-block: 2em;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;

    background-color: var(--element);
    border-radius: 0.25em;

    input {
      border: none;
      width: 100%;
      background-color: var(--element);

      &::placeholder {
        color: var(--text-tasks);
      }

      &:focus-visible {
        outline: none;
      }
    }
  }
}
