@use "../Utils/variables" as var;
@use "../Utils/functions" as func;

.circle {
  aspect-ratio: 1;
  height: 1.5em;
  border: 1px solid var(--circle);
  border-radius: 1em;
}

.app {
  position: relative;
  background-image: var.$bg-light;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  padding-top: 2em;
  font-size: func.rem(14);
}

.input {
  margin-block: 2em;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;

  background-color: var(--element);
  border-radius: 0.25em;

  input {
    border: none;
    background-color: var(--element);

    &::placeholder {
      color: var(--text-input);
    }

    &:focus-visible {
      outline: none;
    }
  }
}
