@use "../Utils/variables" as var;
@use "../Utils/functions" as func;

.circle {
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  height: 1.5em;
  border: 1px solid var(--circle);
  border-radius: 1em;
  background: transparent;
  transition: var.$transition;

  &:is(:hover, .complete) {
    border: none;
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }
}

.app {
  position: relative;
  background-image: var.$bg-light-mobile;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  padding-top: 2em;
  font-size: func.rem(14);
  transition: var.$transition;
}

$md: func.rem(800);

@media (min-width: $md) {
  body.dark > .app {
    background-image: var.$bg-dark-desktop;
  }

  .app {
    background-image: var.$bg-light-desktop;
  }
}

.input {
  margin-block: 2em;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;

  background-color: var(--element);
  border-radius: 0.25em;
  transition: var.$transition;

  input {
    color: var(--text-input);
    border: none;
    width: 100%;
    background-color: var(--element);
    transition: var.$transition;

    &::placeholder {
      color: var(--text-input);
    }

    &:focus-visible {
      outline: none;
    }
  }
}
