.tasks {
  background-color: var(--element);
  display: grid;
  border-radius: 0.25em;
  box-shadow: var(--box-shadow);
  margin-bottom: 2em;

  &__each {
    cursor: pointer;
    display: flex;
    gap: 0.75em;
    padding: 1.5em 1em;
    border-bottom: 1px solid var(--line);

    .remove {
      margin-left: auto;
    }

    p {
      color: var(--text-tasks);

      &.complete {
        color: var(--text-complete);
        text-decoration: line-through;
      }
    }
  }
}
